body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.marker {
    background-image: url('images/bizzabo-logo.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 300px;
    background-color: #37b1cc;
}

.mapboxgl-popup-content {
    text-align: center;
}

img {
    width: 200px;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: large;
}

p {
    font-family: 'Raleway', sans-serif;
}